extends layout

block content

  canvas#myCanvas
  textarea#chatWindow
  form#form(method='POST')
    input#input(type='text', name='title', value='')
    input(type='submit', value='Submit')
  script(src='/socket.io/socket.io.js')
  script(src='client.js')